<%- include("header") -%>

<body>
    <div class="box" id="heading">
        <h1>Display dynamic listname</h1>
    </div>
    <div class="box">
        
        <% for(var i=0;i<newListItem.length;i++){ %>
            <!-- TODO: Display list items -->
        <% }%>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button>
        </form>


    </div>

    <%- include("footer") -%>